.error {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  color: rgb(201, 68, 68);
  border: 2px solid rgb(201, 68, 68);
  border-radius: 10px;
  margin-top: 1rem;
}

.fa-exclamation {
  color:  rgb(205, 68, 68);
  font-size: 3rem;
}