#main-header {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  /* margin-top: 70px; */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d18b00;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
}

.header-name {
  font-size: 24pt;
}

.header-container {
  width: 100%;
}

@media (min-width: 1024px) {
  .header-container {
    margin-top: 6rem;
    margin-left: 4rem;
    margin-right: 2rem;
    width: 70%;
  }
}