nav {
  width: 100%;
  background-color: #4056A1;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin: 1.5em;
}

.logo {
  font-family: 'Bungee', cursive;
  font-size: 24pt;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18pt;
  text-align: center;
}

.fa-angle-double-down {
  color: #ff5c5c;
  margin: 0.2em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media (max-width: 450px) {
  .nav-item {
    margin: 1rem;
    margin-top: 2rem;
  }

  .logo {
    font-size: 18pt;
  }

  #write-new {
    font-size: 12pt;
  }

  .sticky {
    padding-bottom: 3rem;
  }
}

@media (max-width: 1024px) {
  nav {
    background-color: #d18b00;
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  }
}