.scroll-button {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.fa-arrow-circle-up {
  color: #ff5c5c;
  font-size: 5rem;
  cursor: pointer;
}

.fa-circle {
  color: #ff5c5c;
  font-size: 5rem;
  cursor: pointer;
}

.fa-circle:active {
  transform: translateY(4px);;
}

.fa-angle-double-up {
  position: fixed;
  bottom: 50px;
  right: 52px;
  color: white;
}

.hidden {
  visibility: hidden;
}