.scroll-button {
  display: flex;
  justify-content: flex-end;
  /* width: 55%; */
  position: fixed;
  /* float: bottom; */
  bottom: 20px;
  right: 20px;
}

.fa-arrow-circle-up {
  color: #ff5c5c;
  font-size: 5rem;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}